body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTPbVdWto8uKbKpvZ5BjYd_LQ0_zLo9GnYsQ&s);
}
#film0{
    background-color: rgb(64, 200, 100)
} 
#film1{
    background-color: rgb(19, 99, 255)
}
#film2{
    background-color: rgb(255, 155, 100)
}