#goa{
    color: green;
    background-color: black;
}
.h1{
    color: yellow;
    background-color: brown;
}
#button0{
    color: blue;
    background-color: coral;
}
#button1{
    color: brown;
    background-color:blue;
}
.button{
    color: green;
    background-color:hotpink ;
}